* {
    margin: 0;
    padding: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 11px;
    font-weight: 800;
}

window#waybar {
    background: #232323;
    border-radius: 4px;
}

#waybar.top>box.horizontal {
    margin: 2px;
    padding: 0 10px;
}


#workspaces button {
    color: #585b70;
    border: none;
}

#workspaces button:not(:first-child) {
    margin-left: 3px;
}

#workspaces button.active {
    color: #89b4fa;
}

#workspaces button.urgent {
    color: #f37ba8;
}

button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
}

#mpris {
    background: #101010;
    color: #a6e3a1;
    border-radius: 16px;
    margin-left: 5px;
    padding: 0 10px;
}

#window {
    margin-left: 20px;
    margin-right: 25px;
}

#cpu {
    color: #a6e3a1;
    margin-right: 14px;
}

#memory {
    color: #74c7ec;
    margin-right: 14px;
}

#temperature {
    color: #f38ba8;
    margin-right: 16px;
}

#temperature.critical {
    color: #ff4278;
}

#tray {
    margin-right: 14px;
}

#tray menu {
    background: #1e1e2e;
    padding: 3px;
}

#backlight {
    color: #cba6f7;
    margin-right: 14px;
}


#pulseaudio {
    color: #74c7ec;
    margin-right: 14px;
}

#pulseaudio.microphone {
    padding: 0px 1px;
    margin-right: 20px;
}

#battery {
    color: #f9e2af;
}

#battery.full,
#battery.good,
#battery.charging,
#battery.plugged {
    color: #a6e3a1;
}

#battery.critical:not(.charging) {
    color: #f38ba8;
}

tooltip {
    background: #232323;
    color: #cdd6f4;
    border-radius: 4px;
}
